.wheel-button, .wheel-button:visited {
      text-align: center;
      display: inline-block;
    }

    .wheel-button:hover{ 
      color: white;
    }

    .wheel li a, .wheel li a:visited{
      border-radius: 50px;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      width: 20px;
      height: 20px;
      border: 1px solid #529146;
      box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
      -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25), inset 0 1px 1px rgba(255,255,255,0.5);
      color: white;
      -moz-transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease;
      -o-transition: all 0.25s ease;
      transition: all 0.25s ease;
    }

  .mae{
    background: rgb(221, 160, 221);
  }
  .filho{
    background: rgb(79, 148, 205);
  }

.wheel {
  margin: 0;
  
  list-style: none;
  width: 50%;
  height: 50%;
  visibility: hidden;
  position: relative;
  display: none;
}

.wheel li {
  overflow: hidden;
  float:left;
}

.wheel li a {
  display: block;
}

#wheel_menu{
	margin-top: 70px;
  position: relative;
  text-align: center;
}

#wheel{position: absolute;}

.wheel-button > img{
  margin: 0 !important;
}

@media only all and (max-width:390px){
  .wheel li a, .wheel li a:visited {
    width: 10px;
    height: 10px;
    line-height: 12px;
  }
}
