[class*="icon1"] { background: url('img/icon1_26px_blue.png') no-repeat top left; width: 20px; height: 20px;  }
.icon1-apresentacao { background-position: 0px 0px;  } 
.icon1-atividades { background-position: 0px -30px;  } 
.icon1-caso { background-position: 0px -60px;  } 
.icon1-cronograma { background-position: 0px -90px;  } 
.icon1-forum { background-position: 0px -120px;  } 
.icon1-imprimir { background-position: 0px -150px;  } 
.icon1-livro { background-position: 0px -180px;  } 
.icon1-material { background-position: 0px -210px;  } 
.icon1-objetivo { background-position: 0px -240px;  } 
.icon1-observacao { background-position: 0px -270px;  } 
.icon1-planejamento { background-position: 0px -300px;  } 
.icon1-praticar { background-position: 0px -330px;  } 
.icon1-professor { background-position: 0px -360px;  } 
.icon1-reflita { background-position: 0px -390px;  } 
.icon1-saibamais { background-position: 0px -420px;  } 
.icon1-tutorial { background-position: 0px -450px;  } 
.icon1-arrow-left { background-position: 0px -480px;  } 
.icon1-arrow-right { background-position: 0px -510px;  } 
.icon1-file-pdf { background-position: 0px -540px;  } 
.icon1-grid { background-position: 0px -570px;  } 
.icon1-home-2 { background-position: 0px -600px;  } 
.icon1-notification { background-position: 0px -630px;  } 
.icon1-play-2 { background-position: 0px -660px;  } 
.icon1-quotes-left { background-position: 0px -690px;  } 
.icon1-text-height { background-position: 0px -720px;  }

[class*="icon2"] { background: url('img/icon2_26px_white.png') no-repeat top left; width: 20px; height: 20px; }
.icon2-apresentacao { background-position: 0px 0px;  } 
.icon2-atividades { background-position: 0px -30px;  } 
.icon2-caso { background-position: 0px -60px;  } 
.icon2-cronograma { background-position: 0px -90px;  } 
.icon2-forum { background-position: 0px -120px;  } 
.icon2-imprimir { background-position: 0px -150px;  } 
.icon2-livro { background-position: 0px -180px;  } 
.icon2-material { background-position: 0px -210px;  } 
.icon2-objetivo { background-position: 0px -240px;  } 
.icon2-observacao { background-position: 0px -270px;  } 
.icon2-planejamento { background-position: 0px -300px;  } 
.icon2-praticar { background-position: 0px -330px;  } 
.icon2-professor { background-position: 0px -360px;  } 
.icon2-reflita { background-position: 0px -390px;  } 
.icon2-saibamais { background-position: 0px -420px;  } 
.icon2-tutorial { background-position: 0px -450px;  } 
.icon2-arrow-left { background-position: 0px -480px;  } 
.icon2-arrow-right { background-position: 0px -510px;  } 
.icon2-file-pdf { background-position: 0px -540px;  } 
.icon2-grid { background-position: 0px -570px;  } 
.icon2-home-2 { background-position: 0px -600px;  } 
.icon2-notification { background-position: 0px -630px;  } 
.icon2-play-2 { background-position: 0px -660px;  } 
.icon2-quotes-left { background-position: 0px -690px;  } 
.icon2-text-height { background-position: 0px -720px;  }